/*Fuentes personalizadas*/
@font-face{
    font-family: "yanone";
    src:url("./fonts/YanoneKaffeesatz-Regular.ttf"),
        url("./fonts/YanoneKaffeesatz-Bold.ttf");
    
}
/*generales*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../img/paven.png);
    background-attachment:fixed;
    color: #333;
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
}

clearfix{
    float: none;
    clear: both;
}

/* Barra de navegación*/

header{
    display: block;
    width: 100%;
    height: 70px;
    background: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}

header ul{
    display: block;
    width: 38%;
    height: inherit;
    margin: 0px auto;

}

header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 70px;
    font-size: 25px;

}

header ul li a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

header a:hover,
.active{
    background: rgba(35, 35, 35, 0.8);
}

/*Contenedor principal*/

#content{
    min-height: 490px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 30px #333;
    border-left: 1px solid #b7b7b7;
    background: rgba(255, 255,255, 0.7);
    padding-top: 120px;

}
/*Pie de página*/
footer{
width: 75%;
margin: 0px auto;
margin-top: 15px;
color: rgba(0, 0, 0 ,0.5);
}